/*Positions on the page*/
.titleBar{
    font-size: 32px;
    text-decoration: none;
    line-height: 80px;
    height: 80px;
    position: absolute;
    top:0;
    left:0; 
    right:0;
}

.titleBarMiddle{
    margin: 20px;
    margin-top: 35px;
    margin-left: 175px;
    position: absolute;
    cursor: pointer;
}

.titleBarRight{
    font-size: 16px;
    position: absolute;
    right: 30px;
    top: 50px
}

.menuOption:hover{
    background-color: lightgray;
    color: black;
    border-radius: 5px 5px 5px 5px;
}

.menuOption{
    margin: 30px;
}

.navBar {
    background-color: lightgrey;
    position:absolute;
    left:0; 
    top:110px; 
    bottom: 0;
    width: 178px;
    color: black;
}

.mainContent {
    margin-right:auto;
    margin-left: auto;
    height: 2000px;
    width:1400px;
    background-color: white;
    position: relative;
    top: 120px;
}
/*Positions on the page END*/

/*standard font/color to be used everywhere on the page.*/
.standardFont{
    font-family: 'Trebuchet MS';
}

.standardColor{
    color: white;
    background-color:#0066ff;
}
/*standard font/color to be used everywhere on the page. END*/

ul {
    display: inline;
    list-style-type: none;
    margin: 20px;
}

.pointerHand{
    cursor: pointer;
}

.projectCard{
    background: #0066ff;
    border-color: white;
    border-radius: 25px 25px 25px 25px;
}

.cardMedia{
    width: 320px;
    height: 240px;
}

.cardLinks{
    margin:20px;
    font-size: 16px;
    list-style-type: none;
}

.cardLinks > li{
    display: inline-block;
}

.cardLinks:hover{
    background-color: lightgray;
    color: black;
    border-radius: 5px 5px 5px 5px;
}

/*CSS grid*/
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(25%, auto);
  }
  .one {
    grid-column: 1;
    grid-row: 1;
  }
  .two { 
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
  .three {
    grid-column: 1;
    grid-row: 2 / 5;
  }
  .four {
    grid-column: 3;
    grid-row: 3;
  }
  .five {
    grid-column: 2;
    grid-row: 4;
  }
  .six {
    grid-column: 3;
    grid-row: 4;
  }