/*Positions on the page*/

.titleBar {
    font-size: 32px;
    text-decoration: none;
    line-height: 80px;
    height: 80px;
    position: absolute;

    top:0;
    left:0; 
    right:0;
    padding-left: 20px; 
}

.titleBarMiddle {
    margin: 20px;
    margin-top: 50px;
    margin-left: 175px;
    position: absolute;
    cursor: pointer;
}

.titleBarRight {
    font-size: 16px;
    position: absolute;
    right: 115px;
    top: 57px
}

.menuOption:hover {
    background-color: lightgray;
    color: black;
    border-radius: 5px 5px 5px 5px;
}

.menuOption {
    margin: 30px;
}

.navBar {
    background-color: lightgrey;
    position: absolute;
    left: 0;
    top: 110px;
    bottom: 0;
    width: 178px;
    color: black;
}

.mainContent {
    margin-right: auto;
    margin-left: auto;

    width:1400px;
    background-color: white;
    position: relative;
    top: 120px;
}


/*Positions on the page END*/


/*standard font/color to be used everywhere on the page.*/

.standardFont {
    font-family: 'Trebuchet MS';
}

.standardColor {
    color: white;
    background-color: #0066ff;
}


/*standard font/color to be used everywhere on the page. END*/

ul {
    display: inline;
    list-style-type: none;
    margin: 20px;
}

.pointerHand {
    cursor: pointer;
}

.projectCard {
    background: #0066ff;
    border-color: white;
    border-radius: 25px 25px 25px 25px;


    padding:20px;
}

.cardMedia{

    width: 100%;
    height: 240px;
    margin: auto;
    display: block;
    padding: 20px;
}

.cardLinks{
    margin:30px;

    font-size: 16px;
    list-style-type: none;
}

.cardLinks:hover{
    background-color: lightgray;
    color: black;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}


.centerThis{
    align-content: center;
}


/*CSS grid*/

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 33%;

    grid-auto-columns:minmax(auto,auto);
  }

  .one {
    grid-column: 1;
    grid-row: 1;
  }
  .two { 
    grid-column: 2 ;
    grid-row: 1;
  }
  .three {
    grid-column: 3;
    grid-row: 1;
  }
  .four {
    grid-column: 1;
    grid-row: 2;
  }
  .five {
    grid-column: 2;
    grid-row: 2;
  }
  .six {
    grid-column: 3;
    grid-row: 2;
  }
  .seven {
    grid-column: 3;
    grid-row: 3;
  }

  #logout-button{
    margin-left: 30px;
    float: left;
  }

  #Reglink{
    float: left;
  }
  #contact{
    margin-left: 30px;
    float: left;
  }
  a{
    color: white;
    text-decoration: none;
  }
