.titleBar{
    background-color:#0066ff;
    color: white;
    font-family: trebuchet MS;
    font-size: 32px;
    text-decoration: none;
    line-height: 80px;
    height: 80px
}

html,body{
    margin: 0;
    padding: 0;
}