.titleBar{
    background-color:#0066ff;
    font-size: 32px;
    text-decoration: none;
    line-height: 80px;
    height: 80px;
    position: absolute;
    left:0; 
    right:0;
    color: white;
}

.navBar {
    background-color: lightgrey;
    position:absolute;
    left:0; 
    top:110px; 
    bottom: 0;
    width: 178px;
    color: black;
}

.mainContent {
    position: absolute;
    left:178px; 
    top:110px; 
    right:0; 
    bottom:0;
}

.standardFont{
    font-family: 'Trebuchet MS';
}

ul {
    list-style: none;
    padding: none;
}